name: Pull Request

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yaml
    with:
      environment: dev
    secrets: inherit
