name: Push on release/*

on:
  push:
    branches:
      - release/**

concurrency:
  group: test
  cancel-in-progress: true

jobs:
  test:
    name: Test
    uses: ./.github/workflows/test.yaml
    with:
      environment: test
    secrets: inherit
  build:
    needs: test
    name: Build
    uses: ./.github/workflows/build.yaml
    with:
      environment: test
    secrets: inherit
  deploy:
    needs: build
    name: Deploy
    uses: ./.github/workflows/deploy.yaml
    with:
      environment: test
    secrets: inherit
